LANGSMITH_API_KEY=lsv2_pt_xxx
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=ppt-deepagent

DEEPSEEK_MODEL=deepseek-v4-flash
DEEPSEEK_MODEL_PROVIDER=deepseek
DEEPSEEK_API_KEY=sk-xxx
DEEPSEEK_BASE_URL=https://api.deepseek.com

QWEN_MODEL=qwen3.6-flash
QWEN_MODEL_PROVIDER=openai
QWEN_API_KEY=sk-xxx
QWEN_BASE_URL=https://llm-fp40ah11srg9ggae.cn-beijing.maas.aliyuncs.com/compatible-mode/v1

SANDBOX_NAME_PREFIX=ppt-deepagent
SANDBOX_SNAPSHOT_NAME=ppt-deepagent-sandbox-latest
SANDBOX_MEM_BYTES=2147483648
SANDBOX_IDLE_TTL_SECONDS=3600
SANDBOX_DELETE_AFTER_STOP_SECONDS=86400

MINIO_ENDPOINT_URL=https://s3.ap-southeast-2.amazonaws.com
MINIO_BUCKET=ppt-deepagent
MINIO_REGION=ap-southeast-2
MINIO_PATH_STYLE=false
MINIO_PUBLIC_BASE_URL=https://ppt-deepagent.s3.ap-southeast-2.amazonaws.com
MINIO_ACCESS_KEY_SECRET=PPT_MINIO_ACCESS_KEY
MINIO_SECRET_KEY_SECRET=PPT_MINIO_SECRET_KEY
